<%- include('../compartido/menu/menuAdmin')%>
<link rel="stylesheet" href="/css/formulario-admin.css">
<% const existevuelo = typeof vuelo != 'undefined'%>
<% let existeasientosDisponibles = typeof asientos_diponibles!== 'undefined' %>
<% let existeasientosOcupados= typeof  asientos_ocupados!== 'undefined' %>
<% let existelugarestino= typeof lugar_destino !== 'undefined' %>
<% let existelugarorigen = typeof lugar_origen !== 'undefined' %>
<% let existeopciones= typeof estado_vuelo  !== 'undefined' %>
<% let existeipovuelo= typeof tipo_vuelo !== 'undefined' %>
<h1>ADMINSITRAR VIAJES</h1>
<%if(existevuelo){%>
    <% existeasientosDisponibles = true %>
    <% existeasientosOcupados = true %>
    <% existelugarestino = true %>
    <% existelugarorigen = true %>
    <% existeRango = true %>
    <% existeopciones = true %>
    <% existeipovuelo = true %>
    <% asientos_diponibles = vuelo.asientos_diponibles %>
    <% asientos_ocupados= vuelo.asientos_ocupados %>
    <% lugar_destino = vuelo.lugar_destino %>
    <% lugar_origen = vuelo.lugar_origen %>
    <% estado_vuelo = vuelo.estado_vuelo %>
    <% tipo_vuelo = vuelo.tipo_vuelo %>
<%}%>
<body>

<section class="viajes">
<form action="<%= existevuelo ? '/vuelo/vista/editarviajes/'+vuelo.id_Vuelo: '/adminViajesVista'%>" method="POST">
    <label for="asientosdiponiblesID">Asientos diponibles:</label>
    <input class="controls" id="asientosdiponiblesID" type="text"
    <% if(existeasientosDisponibles){%>
           disabled
            <%}%>
           name="asientos_diponibles" value="<%= existeasientosDisponibles ? asientos_diponibles : '' %>">
    <br>
    <label for="asientosocupadosID">Asientos ocupados:</label>
    <input class="controls" id="asientosocupadosID" type="text"
    <% if(existeasientosOcupados){%>
           disabled
            <%}%>
           name="asientos_ocupados" value="<%= existeasientosOcupados ? asientos_ocupados : '' %>">
    <br>
    <label for="destinoID ">Destino:</label>
    <input class="controls" id="destinoID " type="text"
    <% if(existelugarestino){%>
           disabled
            <%}%>
           name="lugar_destino" value="<%= existelugarestino ? lugar_destino : '' %>">
    <br>
    <label for="orienID">Origen:</label>
    <input class="controls" id="orienID" type="text"
    <% if(existelugarorigen){%>
           disabled
            <%}%>
           name="lugar_origen" value="<%= existelugarorigen ? lugar_origen : '' %>">
    <br>

    <label for="cars">Estado de vuelo:</label>

    <select class="controls" id="estado_vueloID" name="estado_vuelo">
        <option value="atiempo">Atiempo</option>
        <option value="cancelado">Cancelado</option>
        <option value="atrasado">Atrasado</option>
    </select>
<%console.log("buscando....",estado_vuelo)%>

    <br>
    <label for="tipo_vueloID">Tipo de vuelo:</label>
    <input class="controls" id="tipo_vueloID"
    <% if(existeipovuelo){%>
           disabled
            <%}%>
           type="text" name="tipo_vuelo" value="<%= existeipovuelo ? tipo_vuelo : '' %>">
    <br>

    <button class="botons" type="submit"><%= existevuelo ? 'Editar' : 'Crear'%></button>
</form>
</section>
</body>