<h1>Pantalla de Pagos</h1>

<form action="/reserva/vista/reservarVuelo" method="POST">
    <label for="fechaReserva">Fecha de Reserva:</label>
    <input class="controls" id="fechaReserva" type="text" name="fecha_reserva">
    <br>
    <label for="tipo">Tipo:</label>
    <input class="controls" id="tipo" type="text" name="tipo">
    <br>
    <label for="observaciones">Observaciones:</label>
    <input class="controls" id="observaciones" type="text" name="observaciones">
    <br>
    <label  for="estado">Estado Reserva:</label>
    <input  class="controls" id="estado" type="number" name="estado_reserva">
    <br>



<table>
    <tr>

        <th>Origen</th>
        <th>Destino </th>
        <th>Tipo de vuelo</th>
        <th>Fecha de Salida</th>
        <th>Costo de Boleto</th>
        <th>Puerta de Abordaje</th>
        <th>Numero de Asientos</th>
        <th>Tipo de Asientos</th>

    </tr>

    <% arregloVuelo.forEach((objeto)=>{ %>
        <tr>
            <td><%= objeto.lugar_origen%></td>
            <td><%= objeto.lugar_destino%></td>
            <td><%= objeto.tipo_vuelo%></td>
        </tr>
    <% } ) %>

    <% arregloBoleto.forEach((objeto)=>{ %>
        <tr>
            <td><%= objeto.fecha_salida%></td>
            <td><%= objeto.costo_boleto%></td>
            <td><%= objeto.puerta_abordaje%></td>
        </tr>
    <% } ) %>
    <% arregloAsiento.forEach((objeto)=>{ %>
        <tr>
            <td><%= objeto.numero_asiento_reservado%></td>
            <td><%= objeto.tipo_asiento_reservado%></td>
        </tr>
    <% } ) %>

</table>

    <button>Pagar</button>

</form>