<link rel="stylesheet" href="/css/pagos.css">
<link rel="stylesheet" href="/css/tabla.css">
<%- include('../compartido/menu/menuCliente')%>
<h1>Pantalla de Pagos</h1>
<body>


<section class="clientes">
    <h4>Datos de reserva</h4>

<form action="/reserva/vista/reservarVuelo/<%= arregloBoleto.id_Boleto%>/<%= arregloVuelo.id_Vuelo%>/<%= arregloAsiento.id_Asiento%>" method="POST">
    <table>
        <tr>
            <td for="fechaReserva">Fecha de Reserva:</td>
           <td><input class="controls" id="fechaReserva" type="text" name="fecha_reserva"></td>

        </tr>
   <tr>
    <td for="tipo">Tipo:</td>
    <td><input class="controls" id="tipo" type="text" name="tipo"></td>
   </tr>
        <tr>
    <td for="observaciones">Observaciones:</td>
    <td><input class="controls" id="observaciones" type="text" name="observaciones"></td>
        </tr>
        <tr>
    <td  for="estado">Estado Reserva:</td>
    <td><input  class="controls" id="estado" type="text" name="estado_reserva"></td>
        </tr>
    </table>




<table>
    <tr>

        <th>Origen</th>
        <th>Destino </th>
        <th>Tipo de vuelo</th>
        <th>Fecha de Salida</th>
        <th>Costo de Boleto</th>
        <th>Puerta de Abordaje</th>
        <th>Numero de Asientos</th>
        <th>Tipo de Asientos</th>
    </tr>
    <tr>
            <td><%= arregloVuelo.lugar_destino%></td>
            <td><%= arregloVuelo.lugar_origen%></td>
            <td><%= arregloVuelo.tipo_vuelo%></td>
            <td><%= arregloBoleto.fecha_salida%></td>
            <td><%= arregloBoleto.costo_boleto%></td>
            <td><%= arregloBoleto.puerta_abordaje%></td>
            <td><%= arregloAsiento.numero_asiento_reservado%></td>
            <td><%= arregloAsiento.tipo_asiento_reservado%></td>
        </tr>

</table>

    <button class="botons">Pagar</button>
</form>

</section>
</body>